body {
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
    background-color: #202020;
    color: white;
    font-family: Roboto, Arial, sans-serif;
    overflow-x: hidden;
}

nav {
    height: 56px;
    background-color: #202020f5;
    width: 100%;
    position: fixed;
    z-index: 1;
}

nav .container {
    padding: 0 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}


nav .container .left-nav {
    display: flex;
    align-items: center;
    width: 185px;
}

nav .container .hamburger-menu {
    padding: 8px;
    margin-right: 16px;
    height: 16px;
    width: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

nav .container .hamburger-menu div {
    width: 18px;
    height: 2px;
    background-color: white;
}

nav .container .logo img {
    width: 80px;
}

nav .container .logo sup {
    position: relative;
    top: -5px;
    color: #aaaaaa;
    font-size: 11px;
}

nav .container .search-bar {
    height: 32px;
    width: 728px;
    display: flex;
    justify-content: center;
}

nav .container .search-bar input{
    box-sizing: border-box;
    height: 32px;
    width: 562px;
    outline: none;
    padding: 2px 6px;
    color: white;
    background-color:#121212;
    border: 1px solid rgb(48 48 48);
}

nav .container .search-bar input:focus{
    border: 1px solid rgb(11 134 239);
}

nav .container .search-bar .search-icon {
    width: 65px;
    height: 32px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #323232;
}

nav .container .search-bar .search-icon img {
    height: 40%;
    width: 20%;
}

nav .container .right-nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
}


nav .container .right-nav * {
    padding: 8px 12px;
    width: 24px;
    height: 24px;
}


nav .container .right-nav svg {
    fill: white;
}

nav .container .right-nav img {
    border-radius: 50%;
    height: 32px;
    width: 32px;
    padding: 1px 6px;   
}

main .container {
    position: relative;
    top: 56px;
    padding-left: 58px;
    background-color: #181818;
}

.container .left-column {
    padding: 24px 24px 0 0;
    width: 748px;
    display: inline-block;
}

.container .meta-and-interactions {
    padding: 20px 0 8px 0;
    border-bottom: 1px solid rgb(255 255 255 / 10%);
    position: relative;
}

.container .meta-and-interactions .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #aaa5a1;
    font-size: 14px;
}

.container .meta-and-interactions h1 {
    font-size: 18px;
    font-weight: 400;
    margin: 0;
}

.container .meta-and-interactions .buttons {
    width: 380px;
    display: flex;
    justify-content: space-evenly;
}

.container .meta-and-interactions .footer .buttons div {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 15px;
}

.container .meta-and-interactions .footer .buttons svg {
    fill: #aaa5a1;
    display: inline-block;
    width: 24px;
    height: 24px;
    padding: 6px;
}

.container .meta-and-interactions .footer .buttons .like-bar {
    box-sizing: border-box;
    background-color: #909090;
    height: 2px;
    width: 150px;
    position: absolute;
    bottom: 0;
    left: 50%;
    border-right: 20px solid #606060;
}

.container .channel-info {
    position: relative;
    padding-top: 16px;
    height: 167px;
    border-bottom: 1px solid rgb(255 255 255 / 10%);
    margin-bottom: 24px;
}

.container .channel-info >*{
    display: inline-block;
    font-size: 14px;
}

.container .channel-info img {
    border-radius: 50%;
    float: left;
    margin-right: 16px;
}

.container .channel-info svg {
    height: 13px;
    width: 13px;
    fill: #aaa5a1;
}

.container .channel-info .channel-name {
    margin-top: 7px;
}

.container .channel-info button {
    background-color: red;
    color: white;
    border: none;
    border-radius: 2px;
    padding: 10px 16px;
    font-weight: 600;
    position: absolute;
    right: 0;
    top: 23px;
}

.container .channel-info span {
    font-size: 13px;
    color: #aaaaaa;
}

.container .channel-info .video-desc {
    margin: 15px 64px;
    font-size: 14px;
    font-weight: 500;
    color: white;
    line-height: 18px;
}

.container .channel-info .show-more {
    position: absolute;
    bottom: 21px;
    left: 64px;
    font-size: 13px;
    color: #aaaaaa;
    font-weight: 600;
}

.container section.comments .header {
    margin: 24px 0;
    display: flex;
    align-items: center;
}

.container section.comments .header .sort-by {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #AAAAAA;
}

.container section.comments .header svg {
    width: 24px;
    height: 24px;
    margin-right: 8px;
    fill: #aaa5a1;
}

.container section.comments .header h1 {
    font-size: 16px;
    margin: 0;
    margin-right: 32px;
    font-weight: 500;
}

.container section.comments .add-comment img{
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin-right: 14px;
    float: left;
}

.container section.comments .add-comment input {
    display: inline-block;
    width: calc(100% - 62px);
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid rgb(113 113 113);
    height: 24.5px;
    color: white;
    font-size: 14px;
    margin-bottom: 39px;
}

.container section.comments .comment {
    margin-bottom: 16px;
    display: flex;
    box-sizing: border-box;
}

.container section.comments .comment img {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin-right: 16px;
}

.container section.comments .comment .core{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container section.comments .comment .core h6{
    font-size: 13px;
    height: 24px;
}

.container section.comments .comment .core h6 span{
    color: #aaa5a1;
    font-weight: 100;
    margin-left: 10px;
}

.container section.comments .comment .core p{
    font-size: 14px;
    line-height: 145%;
}


.container section.comments .comment .core>*{
    margin: 0
}


.container section.comments .comment .core .buttons {
    display: flex;
    height: 32px;
    align-items: center;
    color:#aaa5a1;
    margin-top: 6px;
}

.container section.comments .comment .core .buttons>* {
    fill: #aaa5a1;
    width: 16px;
    height: 16px;
    padding: 8px;
    font-size: 13px;
}

.container section.comments .comment .core .buttons span:first-of-type {
    margin-right: 8px;
    padding: 8px 0;
    width: auto;
}

.container section.comments .comment .core .replies {
    display: flex;
    color: rgb(61, 165, 255);
    height: 32px;
    align-items: flex-start;
}

.container section.comments .comment .core .replies svg{
    width: 20px;
    height: 20px;
    fill: #3ea6ff;
}

.container section.comments .comment .core .replies span {
    margin-left: 8px;
    font-size: 14px;
    font-weight: 600;
}

.container .right-column {
    height: 150px;
    display: inline-block;
    position: absolute;
    padding: 24px 24px 0 0;
}

.container .right-column .video {
    display: flex;
    margin-bottom: 8px;
    position: relative;
}

.container .right-column img {
    width: 168px;
    margin-right: 8px;
}

.video span {
    position: absolute;
    left: 125px;
    bottom: 5px;
    line-height: 10px;
    font-size: 12px;
    background-color: #000000b1;
    padding: 5px;
    border-radius: 3px;
}

.container .right-column .video .video-desc {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 226px;
}

.container .right-column .video .video-desc h6 {
    margin: 0;
    font-size: 14px;
    margin-bottom: 8px;
    font-weight: 600;
}


.container .right-column .video .video-desc p{
    font-size: 13px;
    color: #AAAAAA;
    margin: 3px 0 0 0;
}

